html {
  background: linear-gradient(lightgreen, yellow)
}
div {
  text-align: center;
  vertical-align: center;
  margin-top: 15vh;
}
.btn {
  color: white;
  background: black; 
  border-color: white;
  border-style: none;
  border-radius: 7px;
  margin-bottom: 25px;
  padding: 8px;
}


